extends layout

block content
		div
				h2 Por un lado, me trae el parámetro ok, que es un booleano e indica si mi requerimiento fue exitoso
				p=ok
				h2 Por otro lado, si la hay, me trae la información que solicité
				if(data)
						p=data
				else
						p no hay data para mostrar
				if(extras)
						h2 Para mejor visualización de los datos, a continuación se muestra el objeto correspondiente a unx de lxs integrantes. En este caso, Slackbot:
						p=extras
