body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width:100%;
  background-image:url('/images/fondo.jpg');
  background-size:100% auto;
}

a {
  color: #00B7FF;
}

.container {
	width:80%;
	margin:0 auto;
	word-wrap:break-word;
	padding:20px;
	background:white;
}

a {
	display:block;
	margin:20px 0;
	text-decoration:none;
}

#titulo {
	color:crimson;
	text-decoration:none;
}

a:hover {
	color:lightskyblue;
}